<html>
	<head>
		<title>Result Management</title>
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel = "icon" href = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type = "image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
	</head>
	<body id="adminpage">
		<section class="mid">
            <div class="container" align=center>
                <br>
                <h3>Register Students or Teachers</h3>
                <br> <br>
                <btn class="btn btn-primary" id="sbmtbtn" onclick="document.getElementById('addform1').style.display='block';">Teacher Register</btn>	
                <btn class="btn btn-primary" id="sbmtbtn"  onclick="document.getElementById('addform2').style.display='block';">Student Register</btn>
                <a href="/auth/logout" class="btn btn-danger">Logout</a>		
            </div>
            <br>
            <div id="addform1" style="display: none;">
                <form class="shadow row g-3 forml"  action="/auth/registerteacher" method="POST">
                                <h1 style="color:black"><i class="fa fa-pencil" style="color:white"></i> Add Teacher Record</h1>
                                <div class="col-12">
                                    <input type="text" name="name" class="form-control name" id="inputAddress" placeholder="Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control email" id="inputAddress" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" class="form-control password" id="inputAddress" placeholder="Password">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="c_password" class="form-control password" id="inputAddress" placeholder="Confirm Password">
                                </div>	                               					
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary submit">Submit</button>
                                </div>
                            </form>
            </div>
             <div id="addform2" style="display: none;">
                <form class="shadow row g-3 forml"  action="/auth/register" method="POST">
                                <h1 style="color:black"><i class="fa fa-pencil" style="color:white"></i> Add Student Record</h1>
                                 <div class="col-12">
                                    <input type="text" name="name" class="form-control name" id="inputAddress" placeholder="Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control email" id="inputAddress" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" class="form-control password" id="inputAddress" placeholder="Password">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="c_password" class="form-control password" id="inputAddress" placeholder="Confirm Password">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="roll_no" class="form-control roll_no" id="inputAddress" placeholder="Roll Number">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="dob" class="form-control dob" id="inputAddress" placeholder="Date of Birth">
                                </div>		                          					
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary submit">Submit</button>
                                </div>
                            </form>
            </div>
        
		</section>
	</body>
</html>
